openrouteservice/schemas/AAS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:aas="http://www.geoinform.fh-mainz.de/aas" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.geoinform.fh-mainz.de/aas" elementFormDefault="qualified" version="1.0">
	<include schemaLocation="ADT4aas.xsd"/>
	<!--	=============================================================================== 
				AASType
	==================================================================================== -->
	<element name="AAS" type="aas:AASType">
		<annotation>
			<documentation>The top element of an request-response  message; an XML document.</documentation>
		</annotation>
	</element>
	<complexType name="AASType">
		<annotation>
			<documentation>Defines the top element of an XML document representing a message.</documentation>
		</annotation>
		<sequence>
			<element ref="aas:_Header"/>
			<element ref="aas:_Body" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="version" type="decimal" use="required"/>
	</complexType>
	<element name="_Header" type="aas:AbstractHeaderType" abstract="true">
		<annotation>
			<documentation>Defines the portion of a message that contains header information; see _Body for  the specific information needed to execute a request.</documentation>
			<documentation>Base element representing all types of header information.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractHeaderType" abstract="true">
		<annotation>
			<documentation>Defines the portion of a message that contains information orthogonal to the specific information needed to execute a request.  Typical header information includes infomation associated with authentication and authorization, transaction management, payment processing, tracing and auditing.</documentation>
			<documentation>Abstract type common to all types of header information.</documentation>
		</annotation>
	</complexType>
	<element name="_Body" type="aas:AbstractBodyType" abstract="true">
		<annotation>
			<documentation>The portion of a message containing information that is core to the message; the request-response pair.</documentation>
			<documentation>Base element representing all types of body information.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractBodyType" abstract="true">
		<annotation>
			<documentation>Defines the portion of a message containing information that is core to the message.</documentation>
			<documentation>Abstract type common to all types of body information.</documentation>
		</annotation>
	</complexType>
	<!--	=============================================================================== 
				RequestHeader
	==================================================================================== -->
	<element name="RequestHeader" type="aas:RequestHeaderType" substitutionGroup="aas:_Header">
		<annotation>
			<documentation>The header information for request messages.</documentation>
		</annotation>
	</element>
	<complexType name="RequestHeaderType">
		<annotation>
			<documentation>Defines the header information for request messages.</documentation>
		</annotation>
		<complexContent>
			<extension base="aas:AbstractHeaderType">
				<attribute name="clientName" type="string" use="optional">
					<annotation>
						<documentation>The client name, used for authentication.</documentation>
					</annotation>
				</attribute>
				<attribute name="clientPassword" type="string" use="optional">
					<annotation>
						<documentation/>
						<documentation>The client password, used for authentication.</documentation>
					</annotation>
				</attribute>
				<attribute name="sessionID" type="string" use="optional">
					<annotation>
						<documentation>A client-defined unique session Iidentifier, which should be returned in the response header.</documentation>
					</annotation>
				</attribute>
				<attribute name="srsName" type="string" use="optional">
					<annotation>
						<documentation>If no srsName attribute is given, the CRS must be specified as part of the larger context this geometry element is part of, e.g. a geometric aggregate. Default value is WGS84 -> "EPSG:4326"</documentation>
					</annotation>
				</attribute>
				<attribute name="MSID" type="string" use="optional">
					<annotation>
						<documentation>A client-defined unique Iidentifier. Can be used for different purposes, for example billing.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!--	=============================================================================== 
				Request
	==================================================================================== -->
	<element name="Request" type="aas:RequestType" substitutionGroup="aas:_Body">
		<annotation>
			<documentation>The core information of a service request message.</documentation>
		</annotation>
	</element>
	<complexType name="RequestType">
		<annotation>
			<documentation>Defines the core information of a service request message.</documentation>
		</annotation>
		<complexContent>
			<extension base="aas:AbstractBodyType">
				<sequence>
					<element ref="aas:_RequestParameters" minOccurs="0"/>
				</sequence>
				<attribute name="methodName" type="NMTOKEN" use="required">
					<annotation>
						<documentation>The name of the method to be invoked by the service.</documentation>
					</annotation>
				</attribute>
				<attribute name="version" type="string" use="required">
					<annotation>
						<documentation>The version level of the request parameters supported by the client.</documentation>
					</annotation>
				</attribute>
				<attribute name="requestID" type="string" use="required">
					<annotation>
						<documentation>A client-defined request identifier, unique within the scope of the session.  The request identifier must be returned in the service response.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="_RequestParameters" type="aas:AbstractRequestParametersType" abstract="true">
		<annotation>
			<documentation>Base element representing the set of parameters for a service request.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractRequestParametersType" abstract="true">
		<annotation>
			<documentation>Abstract type representing the set of parameters for a service request.</documentation>
		</annotation>
	</complexType>
	<!--	=============================================================================== 
				ResponseHeader
	==================================================================================== -->
	<element name="ResponseHeader" type="aas:ResponseHeaderType" substitutionGroup="aas:_Header">
		<annotation>
			<documentation>The header information for response messages.</documentation>
		</annotation>
	</element>
	<complexType name="ResponseHeaderType">
		<annotation>
			<documentation>Defines the header information for response messages.</documentation>
		</annotation>
		<complexContent>
			<extension base="aas:AbstractHeaderType">
				<sequence>
					<element ref="aas:ErrorList" minOccurs="0"/>
				</sequence>
				<attribute name="sessionID" type="string" use="optional">
					<annotation>
						<documentation>The session identifier, specified by the client in the request header.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!--	=============================================================================== 
				Response
	==================================================================================== -->
	<element name="Response" type="aas:ResponseType" substitutionGroup="aas:_Body">
		<annotation>
			<documentation>The response information returned from a service request.</documentation>
		</annotation>
	</element>
	<complexType name="ResponseType">
		<annotation>
			<documentation>Defines the response information returned from a service response.</documentation>
		</annotation>
		<complexContent>
			<extension base="aas:AbstractBodyType">
				<sequence>
					<element ref="aas:ErrorList" minOccurs="0"/>
					<element ref="aas:_ResponseParameters" minOccurs="0"/>
				</sequence>
				<attribute name="version" type="string" use="required">
					<annotation>
						<documentation>The version level of the response parameters supported by the service.</documentation>
					</annotation>
				</attribute>
				<attribute name="requestID" type="string" use="required">
					<annotation>
						<documentation>The request identifier, unique within the scope of the session, specified by the client in the service request.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="_ResponseParameters" type="aas:AbstractResponseParametersType" abstract="true">
		<annotation>
			<documentation>Base element representing the response information returned from a service request.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractResponseParametersType" abstract="true">
		<annotation>
			<documentation>Abstract type representing the response information returned from a service request.</documentation>
		</annotation>
	</complexType>
	<!--	=============================================================================== 
				Error
	==================================================================================== -->
	<element name="ErrorList" type="aas:ErrorListType">
		<annotation>
			<documentation>A list of errors encountered while attempting to process a request.</documentation>
		</annotation>
	</element>
	<complexType name="ErrorListType">
		<annotation>
			<documentation>Defines a list of errors.</documentation>
		</annotation>
		<sequence>
			<element ref="aas:Error" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="highestSeverity" type="aas:SeverityType" use="optional" default="Warning">
			<annotation>
				<documentation>Set to the highest severity of any of the Error elements. Specifically, if any of the Error elements have a severity of Error then highestSeverity must be set to Error, otherwise set highestSeverity to Warning.</documentation>
			</annotation>
		</attribute>
	</complexType>
	<element name="Error" type="aas:ErrorType">
		<annotation>
			<documentation>Contains error and/or status information.</documentation>
		</annotation>
	</element>
	<complexType name="ErrorType">
		<annotation>
			<documentation>Defines the characteristics of a processing error.</documentation>
		</annotation>
		<attribute name="errorCode" type="aas:ErrorCodeType" use="required">
			<annotation>
				<documentation>XML qualified name identifying the error. The well-known error codes within the "http://www.geoinform.fh-mainz.de/aas" namespace are enumerated in the type ErrorCodeEnum.</documentation>
			</annotation>
		</attribute>
		<attribute name="severity" type="aas:SeverityType" use="optional" default="Warning">
			<annotation>
				<documentation>Indicates the severity of the error.</documentation>
			</annotation>
		</attribute>
		<attribute name="locationID" type="IDREF" use="optional">
			<annotation>
				<documentation>The ID of the element associated with the error.</documentation>
			</annotation>
		</attribute>
		<attribute name="locationPath" type="string" use="optional">
			<annotation>
				<documentation>If the XML is well formed, then this attribute contains the path to the XML element or attribute associated with the error.</documentation>
			</annotation>
		</attribute>
		<attribute name="message" type="string" use="optional">
			<annotation>
				<documentation>Provides a human readable explanation of the error, which is not intended for algorithmic processing.</documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- ===== ErrorCode ===== -->
	<simpleType name="ErrorCodeType">
		<annotation>
			<documentation>Enumeration of error codes defined within the "http://www.geoinform.fh-mainz.de/aas" namespace.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="RequestVersionMismatch">
				<annotation>
					<documentation>Version of Request Schema not supported.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ResponseVersionMismatch">
				<annotation>
					<documentation>Version of Response Schema not supported.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ValueNotRecognized">
				<annotation>
					<documentation>Element content or attribute value not recognized.  Although the document is well formed and valid, the element/attribute contains a value that could not be recognized and therefore could not be used by the service processing the message.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NotSupported">
				<annotation>
					<documentation>Element or attribute not supported. Although the document is well formed and valid, an element or attribute is present that is consistent with the rules and constraints contained in the specification, but is not supported by the service processing the message.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Inconsistent">
				<annotation>
					<documentation>Element content or attribute value inconsistent with other elements or attributes. Although the document is well formed and valid, according to the rules and constraints contained in the specification the content of an element or attribute is inconsistent with the content of other elements or their attributes.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OtherXml">
				<annotation>
					<documentation>Other error in an element content or attribute value. Although the document is well formed and valid, the element content or attribute value contains values that do not conform to the rules and constraints contained in the specification and is not covered by other error codes. The Error message attribute should be used to indicate the nature of the problem.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DeliveryFailure">
				<annotation>
					<documentation>Message Delivery Failure. A message has been received that either probably or definitely could not be sent to its next destination. Note: if severity is set to Warning then there is a small probability that the message was delivered.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SecurityFailure">
				<annotation>
					<documentation>Message Security Checks Failed. Validation of signatures or checks on the authenticity or authority of the sender of the message have failed.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Unknown">
				<annotation>
					<documentation>Unknown Error. Indicates that an error has occurred that is not covered explicitly by any of the other errors. The Error message attribute should be used to indicate the nature of the problem.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="SeverityType">
		<annotation>
			<documentation>Enumeration of the error severity levels.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Warning">
				<annotation>
					<documentation>This indicates that although there is an error, other parts of the request will still be processed in the normal way.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Error">
				<annotation>
					<documentation>This indicates that there is an unrecoverable error in the request and no part of the request will processed.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>